// Colors
$blue: #42afe3
$red: #FF3860
$primary: $blue

// Fonts

// Dependencies
@import 'node_modules/bulma/bulma'
@import 'node_modules/dropzone/src/dropzone'

// Styles
.page-content 
    min-height: calc(100vh - 182px)

.dropzone 
    border: none

#qrcode img 
    margin: 20px auto 40px auto

#logo
    height: 4em
    width: auto

.is-fullwidth
    width: 100%

.notification
    position: fixed
    right: 20px
    bottom: 20px

.animate-enter-active, .animate-leave-active
    transition: opacity .3s, transform .3s

.animate-enter, .animate-leave-to 
    opacity: 0
    transform: scale(1.1)

@media (max-width: 425px)
    .home .password-conrol
        flex-direction: column
        
        .input
            border-radius: 3px 3px 0 0 !important
        
        .button
            width: 100%
            border-radius: 0 0 3px 3px !important