// Colors
$blue: #4B83CD
$red: #FF3860
$dark: #383838
$primary: $blue

// Fonts

// Dependencies
@import 'node_modules/bulma/bulma'
@import 'node_modules/dropzone/src/dropzone'

// Abstracted styles
@import 'partials/bulma-fixes'
@import 'partials/notifications'
@import 'partials/animation'

// Styles
.page-content 
    min-height: calc(100vh - 182px)

.dropzone 
    border: none

#qrcode img 
    margin: 20px auto 40px auto

#logo
    height: 4em
    width: auto
    
pre code 
    margin-bottom: 1em

.modal-card
    overflow: auto

input
    min-width: 0