.is-fullwidth
    width: 100%

@media (max-width: 425px)
    .home .password-conrol
        flex-direction: column
        
        .input
            border-radius: 3px 3px 0 0 !important
        
        .button
            width: 100%
            border-radius: 0 0 3px 3px !important